dist: trusty
sudo: false
language: c
compiler:
- clang
- gcc
script:
- make
- make check
- make -C doc
- make install PREFIX=~/.local
- export PATH=~/.local/bin:"$PATH"
- shellcat --help
- export MANPATH=~/.local/share/man MANWIDTH=80
- man 1 shellcat | grep -A 10 -w SHELLCAT

# vim:ts=2 sts=2 sw=2 et
