Source: shellcat
Section: unknown
Priority: optional
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: shellcat
Architecture: any
Depends: ${shlibs:Depends}
